.card-client {
  position: relative;
  background: #ffffff;
  width: 350px;
  height: 300px;
  padding: 50px 20px 30px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.avatar-wrapper {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 5px solid white;
  object-fit: cover;
}

.description-card {
  font-size: 14px;
  color: #333;
  margin-top: 30px;
  margin-bottom: 40px;
}

.card-client p {
  
}

.name {
  font-size: 20px;
  font-weight: bold;
  margin: 5px 0;
}

.role-card {
  font-size: 14px;
  color: gray;
}

@media screen and (max-width: 767px) {
  .card-client {
    width: 100%;
    padding: 40px 15px 20px;
  }

  .avatar-wrapper {
    top: -30px;
  }

  .avatar {
    width: 60px;
    height: 60px;
    border-width: 4px;
  }

  .description-card {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .name {
    font-size: 18px;
    margin: 3px 0;
  }

  .role-card {
    font-size: 12px;
  }
}